html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.button-class{
    
    width: 100px;
    height: 40px;
    background-color: lightseagreen;
    color: black
    
    border-collapse: separate;
    border-radius: 15px;
}

.slider-class{
  width: 250px;
  height: 5px;
  transition: opacity .2s;
  
}